@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #448094;
    --white: #fff;
    --grey: #f5f5f5;
    --black: #222;
    --black2: #999;
}

.Delivered {
    padding: 2px 4px;
    background: #6b9738;
    color: var(--white);
    border-radius: 30px;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pending {
    padding: 2px 4px;
    background: #d3d03d;
    color: var(--white);
    border-radius: 30px;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Declained {
    padding: 2px 4px;
    color: var(--white);
    background: rgb(194, 62, 62);
    border-radius: 30px;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

body{
    min-height: 100hv;
    overflow-x: hidden;
}

img{
    display: block;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 14.5rem;
    height: 100%;
    background: var(--blue);
    border-left:  10px solid var(--blue);
    transition: 0.5s ease ;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:first-child {
    margin-bottom: 2.5rem;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a {
    color: var(--blue);
  
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 3.7rem;
    height: 3.7rem;
    line-height: 4.3rem;
    text-align: center;
} 

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding:  0 10px;
    line-height: 3.7rem;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px var(--white);
    pointer-events: none;
    
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px var(--white);
    pointer-events: none; 
}

/*main*/

.main  {
    position: absolute;
    width: calc(100% - 14.5rem);
    left: 14.5rem;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s ease;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 25rem;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 2.5rem;
    border-radius: 2.5rem;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
position: absolute;
top: 0;
left: 10px;
font-size: 1em;
}

.user {
    position: relative;
    cursor: pointer;
}

/*Cards*/

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08) ;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 2.5em;
    color: var(--black2);
}

.cardBox .card:hover{
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx  {
    color: var(--white);
}


.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 10px;

}

.details .recentOrders {
position: relative;
display: grid;
min-height: 500px;
background: var(--white);
padding:20px;
box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    padding: 5px 10px;
    position: relative;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 10px;
    transition: all 300ms ease;
}
.btn:hover {
    background: none;
    color: var(--blue);
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentOrders table tr {
    color: var(--black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 80ms ease;

}

.details .recentOrders table tr:last-child {
    border-bottom: none;
}

.details .recentOrders table  tbody tr:hover {
    background: var(--blue);
    color: var(--white);
    
}

.details .recentOrders table tr td {
    padding: 10px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.recentCustomers img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.newCustomer:hover {
    background: var(--blue);
    color: var(--white);
    border-radius: 5px;
}

.recentCustomers .newCustomer h4 {
    font-size: 13px;
    position: relative;
    display: flex;
    justify-content: start;
}

/* Responive*/ 

@media screen and (max-width:991px) {
    .navigation {
        left: -14.5rem;
    }

    .navigation.active{
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){

    .details {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

